body {
	margin: 0;
}

.modalWrapper {
	background: rgba(32, 32, 32, .4);
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	place-items: center;
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	padding: 32px;
	background: white;
}

.showModal {
	display: grid;
}

.closeIcon {
	width: 24px;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 16px;
}